/*-------------------------------------------------------*\

    Pintsize
    Url: http://www.pintsize.io
    Github: https://github.com/alistairtweedie/Pintsize/

/*-------------------------------------------------------*/
    
@import 'utilities/_variables';
@import 'utilities/_functions';
@import 'utilities/_mixins';
@import 'utilities/_helpers';

@import 'base/_normalise';
@import 'base/_base';
@import 'base/_grid';
@import 'base/_typography';

@import 'modules/_buttons';
@import 'modules/_forms';
@import 'modules/_links';
@import 'modules/_lists';
@import 'modules/_tables';



/*---------*\
    Site
/*---------*/

.hero {

	color: #fff;
	text-align: center;
	padding: 5rem 0;
	position: relative;

	@include break-at(640px){

        padding: 10rem 0;

    }

    img {

		max-width: 70px;

		@include break-at(640px){

        max-width: 100%;

    }

    }

	p {

		margin-top: 0;
		font-size: 20px;
		font-size: 2rem;

	}

}

.arrow-down {

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 25px 0 25px;
	margin: 0 auto;

	&.orange {

		border-color: $primary-color transparent transparent transparent;

	}

	&.white {

		border-color: #ffffff transparent transparent transparent;

	}
	
	&.grey {

		border-color: #f1f1f1 transparent transparent transparent;

	}

}

.features .w-4 {

	margin-top: 1em;

}

.simple {

	height: 70px;
	width: 61px;

}

.scalable {

	width: 51px;
	height: 70px;


}

.lightweight {

	width: 90px;
	height: 70px;

}

.headline {

	font-size: 2rem;

}

.get-started {

	background: #f1f1f1;

}


pre {
    background: #272822;
    margin: 0px;
    padding: 1em;
    color: #fff;
    font-size: 14px;
    margin: 24px 0;
    line-height: 0;
    text-align: left;
}

code {

	line-height: 1.5;

}

pre, code {
    font-family: 'Monaco', courier, monospace;
}


html, body {
	height: 100%;
}

body {
	width: 100%;
}

#bubbles {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  background: $primary-color;
  z-index: -1;
}

#bubbles div {
  background: lighten($primary-color, 20%);
  border-radius: 100%;
  position: absolute;
  visibility: hidden;
  -webkit-animation: fade 10s infinite;
}

@-webkit-keyframes fade {
  from {
    bottom: -24px;
    opacity: 1;
    visibility: visible;
  }
  to {
    bottom: 120%;
  }
}

@keyframes fade {
  from {
    bottom: -24px;
    opacity: 1;
    visibility: visible;
  }
  to {
    bottom: 120%;
  }
}







