/*-------------------------------------------------------*\
    Helper classes
/*-------------------------------------------------------*/

.u-center {

	text-align: center;

}

.u-grey-b {

	background: #f1f1f1;

}
.u-white-b {

	background: #ffffff;

}